/* Variables */

:root {
  /*main colors*/
  --basic-black: #000000;
  --basic-red: #EE3643;
  --basic-white: #ffffff;

  /*header colors*/
  --header-blue: #293449;
  --header-green: #63A63E;
  --header-logo-shadow: rgba(0, 0, 0, 0.24);
  --header-background: #F3F7F9;

  /* header hover colors*/
  --header-hover-green: #5FBB2D;

  /* header click colors */
  --header-active-blue: #161D29;
  --header-active-red: #BA2732;
  --login-active: #C5C5C5;

  /*nav colors*/
  --nav-main-blue: #32425C;
  --nav-hover-blue: #293449;
  --nav-active-blue:  #1D2739;

  /*filter color*/
  --filters-background: #F7F3EC;
  --range-control: #ababab;
  --range-box-shadow: #cfcfcf;
  --range-control-scale: #D7DCDE;
  --range-control-bar: #00ca74;
  --price-control-input: #283136;
}


body {
  width: 1200px;
  margin: 0 auto;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

header {
  background-color: var(--header-background);
  padding-bottom: 60px;
  /* text-align: center; */
}

.page-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--header-blue);
  color: var(--basic-white);
  height: 42px;
  margin-bottom: 49px;
}

.header-logo a {
  padding: 17px 57px 13px 55px;
  background-color: var(--basic-red);
  box-shadow: inset 0 -5px 0 var(--header-logo-shadow);
}

.header-logo:active {
  background-color: var(--header-click-red);
}

.search-form {
  width: 271px;
}

.search-form-input {
  background-color: var(--header-blue);
  border: 0px;
  width: 100%;
  height: 42px;
  outline: none;
}

.search-form-input:focus {
  background-color: var(--basic-white);
  border: 0px;
}

.place-order {
  margin-right: 130px;
}

.place-order a {
  margin-right: 100px;
  display: flex;
  padding: 9px 16px 9px 19px;
  background-color: var(--header-green);
}

.header-title {
  width: 197px;
  padding: 0;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  align-items: center;
  color: var(--basic-red);

}

.header-login {
  list-style: none;
  display: flex;
  align-items: center;
}

.header-login a {
  text-decoration: none;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 45px;
  margin-left: 10px;
}

.header-login-svg:hover {
  fill: var(--basic-red);
}

/* .header-login-button {
background-image: url(../img/icon-login.svg);
background-repeat: no-repeat;
background-position: 19px center;
} */

.header-login a:hover {
  color: var(--basic-red);
}

.header-login a:active {
  color: var(--login-active);
}

.page-header a {
  text-decoration: none;
  color: var(--basic-white);
}

.logined-buttons {
  display: flex;
}

.logined-button-profile {
  text-decoration: none;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 45px;
  background-image: url(../img/icon-user.svg);
  background-repeat: no-repeat;
  background-position: 15px center;
}

.logout-button {
  text-align: center;
  line-height: 21px;
  background-image: url(../img/icon-logout.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 14px;
  padding-right: 24px;
  padding-bottom: 14px;
  padding-left: 45px;
  background-color: var(--basic-white);
}

.orders-account {
  display: flex;
}

.main-header {
  min-width: 940px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-contacts {
  text-align: center;
  background: var(--header-background);
  margin-left: 93px;
  margin-right: 69px;
  margin-bottom: 3px;
  align-items: baseline;
}

.header-contacts a {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  text-decoration: none;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
  box-sizing: border-box;
  padding-top: 4px;
  padding-right: 42px;
  padding-bottom: 5px;
  padding-left: 71px;
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 39px center;
}

.header-adress {
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  color: var(--nav-main-blue);
  align-items: center;
  text-align: center;
  font-family: "Cuprum", Arial, sans-serif;
}



/*Навигация*/


.site-navigation {
  width: 940px;
  background: var(--nav-main-blue);
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: inset 0px -5px 0px var(--header-blue);
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 20px;
}

.site-navigation a {
  padding-top: 17px;
  padding-bottom: 21px;
  text-decoration: none;
  color: var(--basic-white);
}


.site-navigation a:hover {
  /* background-color: var(--nav-hover-blue); */
  background-color: grey;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*index-main*/

.main-info {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  background-color: var(--nav-main-blue); /*временно, чтоб было видно белый шрифт*/
  color: var(--basic-white);
}

.main-info a,
.slider a,
.popular-header a {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: var(--basic-white);
}

.popular-header a {
  padding: 11px 24px 9px 24px;
  background-color: var(--basic-red);
}


.slide-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.slider {
  background-color: var(--nav-main-blue);
  color: var(--basic-white);
}

.popular-header {
  font-size: 30px;
  line-height: 30px;
}

.popular-items {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
}

.popular-items a {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
}

.popular-manufactures-list {
  list-style: none;
}

.price {
  font-size: 17px;
  line-height: 18px;
}

.item-name {
  font-size: 18px;
  line-height: 20px;
}

.secrvices h3,
.company-information h3,
.map-contacts h3,
.about-perforators h3 {
  font-size: 30px;
  line-height: 30px;
}

.secrvices p {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.delivery-guarantee-credit h3 {
  color: var(--nav-main-blue);
  font-size: 30px;
  line-height: 30px;
}

.delivery-guarantee-credit p,
.company-information p,
.map-contacts p
.secrvices p {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.delivery-guarantee-credit a {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  text-decoration: none;
}

.logistics-company {
  list-style: none;
}

.company-information a {
  padding: 11px 24px 9px 24px;
  background-color: var(--basic-red);
  text-decoration: none;
  color: var(--basic-white);
}

.write-us {
  padding: 11px 24px 9px 24px;
  background-color: var(--basic-red);
  text-decoration: none;
  color: var(--basic-white);s
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
}

.added-to-cart h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.added-to-cart a {
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
}


/*filters*/
.filters-header {
  background-color: var(--filters-background:);
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  border-radius: 5px;
  margin: 0;
  border: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
}

.manufactures-filter,
.power-supply {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px
}

.manufactures-filter legend,
.power-supply legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}


/*фильтр по цене*/
.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 220px;
}

.filter-item legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.range-controls {
  position: relative;
  height: 41px;
  background-color: var(--filters-background);
  border-radius: 5px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
}

.range-controls .scale {
  height: 2px;
  background: var(--range-control-scale);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--range-control-bar);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--range-control);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--range-box-shadow);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls input {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  width: 80px;
  padding: 10px;
  margin-left: 0px;
  text-align: center;
  color: var(--price-control-input);
  border: none;
  border-radius: 5px;
  background: var(--filters-background);
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.space-between-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 35px;
}

.pagination a {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
}
