/* Variables */

:root {
  /*main colors*/
  --basic-black: #000000;
  --basic-red: #EE3643;
  --basic-white: #ffffff;

  /*header colors*/
  --header-blue: #293449;
  --header-green: #63A63E;

  /* header hover colors*/
  --header-hover-green: #5FBB2D;

  /* header click colors */
  --header-click-blue: #161D29;
  --header-click-red: #BA2732;

  /*nav colors*/
  --nav-main-blue: #32425C;
  --nav-hover-blue: #293449;
  --nav-click-blue:  #1D2739;
}


body {
  min-width: 1200px;
  font-family: "Cuprum", Arial; sans-serif;
}

.page-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header-blue);
  /* outline: 5px solid #ff0000; */
  color: var(--basic-white);
  height: 42px;
  margin: 0;
  padding: 0;
}

.header-logo { /*как сделать ссылкой весь header-logo*/
  padding: 17px 57px 13px 55px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

/* .header-logo a {
  padding: 17px 57px 13px 55px;
} */

.header-logo:active {
  background-color: var(--header-click-red);
}

.header-title {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: var(--basic-red);
}

.page-header a {
  text-decoration: none;
  color: var(--basic-white);
}

.site-navigation {
  width: 940px;
  height: 60px;
  background: var(--nav-main-blue);
  list-style: none;
  /* outline: 5px solid #ff0000; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: inset 0px -5px 0px #293449;
  margin: 0;
  padding: 0;
}

.site-navigation a {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  padding-top: 20px;
  padding-bottom: 15px;
}


.site-navigation a:hover {
  /* background-color: var(--nav-hover-blue); */
  background-color: grey;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-navigation a {
  text-decoration: none;
  color: var(--basic-white);
}
