/* Variables */

:root {
  /*main colors*/
  --basic-black: #000000;
  --basic-red: #EE3643;
  --basic-white: #ffffff;

  /*header colors*/
  --header-blue: #293449;
  --header-green: #63A63E;
  --header-logo-shadow: rgba(0, 0, 0, 0.24);
  --header-background: #F3F7F9;

  /* header hover colors*/
  --header-hover-green: #5FBB2D;

  /* header click colors */
  --header-active-blue: #161D29;
  --header-active-red: #BA2732;
  --login-active: #C5C5C5;

  /*nav colors*/
  --main-blue: #32425C;
  --hover-blue: #293449;
  --active-blue:  #1D2739;

  /*filter color*/
  --filters-background: #F7F3EC;
  --range-control: #ababab;
  --range-box-shadow: #cfcfcf;
  --range-control-scale: #D7DCDE;
  --range-control-bar: #00ca74;
  --price-control-input: #283136;

  /*index-main-colors*/
  --index-materials: #FFBF47;
  --index-tools: #3BBCE3;
  --index-technic: #DC91D8;
  --index-discounts: #8ED78F;
  --main-header: #F9F5F0;
  --cards-border: #EAEAEA;

  /*footer*/
  --yellow-links: #FFD180;
}



body {
  width: 1200px;
  margin: 0 auto;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

header {
  background-color: var(--header-background);
  padding-bottom: 60px;
  /* text-align: center; */
}

.container {
  width: 940px;
  margin: 0 auto;
}

.page-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--basic-white);
  height: 42px;
}

.page-header {
  background-color: var(--header-blue);
  margin-bottom: 49px;
}

.header-logo a {
  padding: 17px 57px 13px 55px;
  background-color: var(--basic-red);
  box-shadow: inset 0 -5px 0 var(--header-logo-shadow);
}

.header-logo:active {
  background-color: var(--header-click-red);
}

.search-form {
  width: 271px;
}

.search-form-input {
  background-color: var(--header-blue);
  border: 0;
  width: 100%;
  height: 42px;
  outline: none;
}

.search-form-input:focus {
  background-color: var(--basic-white);
  border: 0px;
}

.place-order a {
  display: flex;
  padding: 9px 16px 9px 19px;
  background-color: var(--header-green);
}

.header-title {
  width: 197px;
  padding: 0;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  align-items: center;
  color: var(--basic-red);

}

.header-login {
  list-style: none;
  display: flex;
  align-items: center;
}

.header-login a {
  text-decoration: none;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 45px;
  margin-left: 10px;
}

.header-login a:hover {
  color: var(--basic-red);
}

.header-login a:active {
  color: var(--login-active);
}

.page-header a {
  text-decoration: none;
  color: var(--basic-white);
}

.cart::before {
  content: "";
  position: absolute;
  top: 23px;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.bookmarks::before {
  content: "";
  position: absolute;
  top: 23px;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.cart:hover::before,
.bookmarks:hover::before {
  opacity: 1;
}


.bookmarks-cart a {
  position: relative;
  padding: 20px;
}

.header-login a {
  position: relative;
  padding: 12px 27px 12px 45px;
}


.logined-buttons {
  display: flex;
}

.login-button svg {
  fill: #c5c5c5;
}

.login-button:hover svg {
  fill: red;
}

.header-contacts a {
  display: block;
  width: 270px;
  text-align: center;
}


.logined-button-profile {
  text-decoration: none;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 45px;
  background-image: url(../img/icon-user.svg);
  background-repeat: no-repeat;
  background-position: 15px center;
}

.logout-button {
  text-align: center;
  line-height: 21px;
  background-image: url(../img/icon-logout.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 14px;
  padding-right: 24px;
  padding-bottom: 14px;
  padding-left: 45px;
  background-color: var(--basic-white);
}

.orders-account {
  display: flex;
}

.main-header {
  min-width: 940px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-contacts {
  text-align: center;
  background: var(--header-background);
  margin-left: 93px;
  margin-right: 69px;
  margin-bottom: 3px;
  align-items: baseline;
}

.header-contacts a {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  text-decoration: none;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
  box-sizing: border-box;
  padding-top: 4px;
  padding-right: 42px;
  padding-bottom: 5px;
  padding-left: 71px;
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 39px center;
}

.header-adress {
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  color: var(--main-blue);
  align-items: center;
  text-align: center;
  font-family: "Cuprum", Arial, sans-serif;
}



/*Навигация*/


.site-navigation {
  min-height: 60px;
  width: 940px;
  background: var(--main-blue);
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: inset 0 -5px 0 var(--header-blue);
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.site-navigation a {
  padding-top: 17px;
  padding-bottom: 21px;
  text-decoration: none;
  color: var(--basic-white);
}


.site-navigation a:hover {
  /* background-color: var(--nav-hover-blue); */
  background-color: grey;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*index-main*/

.main-info {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  background-color: var(--main-blue); /*временно, чтоб было видно белый шрифт*/
  color: var(--basic-white);
  display: grid;
  grid-template-areas: "main-1 main-2 main-3"
  "main-6 main-6 main-4"
  "main-6 main-6 main-5";
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 123px);
  grid-gap: 20px;
}

.materials {
  grid-area: main-1;
  background-color: var(--index-materials);
}

.tools {
  grid-area: main-2;
  background-color: var(--index-tools);
}

.technic {
  grid-area: main-3;
  background-color: var(--index-technic);
}

.discounts {
  grid-area: main-4;
  background-color: var(--index-discounts);
}

.delivery {
  grid-area: main-5;
  background-color: var(--index-materials);
}

.slider {
  grid-area: main-6;
}


.popular-header {
  max-width: 940px;
  background-color: var(--main-header);
  font-size: 30px;
  line-height: 30px;
  color: var(--main-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.main-info a,
.popular-header a {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: var(--basic-white);
}

.popular-header a {
  padding: 11px 24px 9px 24px;
  background-color: var(--basic-red);
}


.slide-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  margin-top: 23px;
  margin-bottom: 0;
}

.real-mens-toys {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin-top: 5px;
  margin-bottom: 0;
}

.slide-perforators {
  background-image: url(../img/perforators.jpg);
}



.popular-items {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.page-title {
  margin: 0;
  margin-bottom: 15px;
  padding-top: 29px;
  padding-bottom: 30px;
  font-size: 30px;
  line-height: 30px;
  background-color: var(--header-background);
}

.page-catalog {
  max-width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 220px 1fr;
  align-content: start;
}

.page-catalog .page-title {
  grid-column: 1 / -1;
}

.page-catalog .breadcrumbs {
  grid-column: 1 / -1;
}

.catalog-sort {
  grid-column: 1 / -1;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.breadcrumbs li {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs a {
  text-decoration: none;
}

.icon-home {
  background-image: url("../img/icon-home.svg");
  text-align: center;
  line-height: 21px;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 45px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -20px;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Catalog */
.catalog {
  margin-left: 20px;
}

.catalog-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;

}

.catalog-item {
  width: 220px;
  min-height: 318px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid var(--cards-border);
  box-sizing: border-box;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.cards {
  text-align: center;
  width: 220px;
  border: 1px solid var(--cards-border);
  box-sizing: border-box;
}

.item-name {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  align-items: center;
}

.cards-back {
  display: none;
}

.popular-items a {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
}

.popular-manufactures-list {
  max-width: 940px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.manufactures-cards {
  width: 220px;
  height: 145px;
  border: 1px solid var(--cards-border);
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  flex-grow: 0;
}

.price {
  font-size: 17px;
  line-height: 18px;
}

.item-name {
  font-size: 18px;
  line-height: 20px;
}

.secrvices h3,
.company-information h3,
.map-contacts h3,
.about-perforators h3 {
  font-size: 30px;
  line-height: 30px;
}

.slide-hidden {
  display: none;
}

.secrvices p {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.delivery-guarantee-credit h3 {
  color: var(--main-blue);
  font-size: 30px;
  line-height: 30px;
}

.delivery-guarantee-credit p,
.company-information p,
.map-contacts p
.secrvices p {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.delivery-guarantee-credit a {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  text-decoration: none;
}

.logistics-company {
  list-style-image: url(../img/delivery-list-style.png);
}

.company-information a {
  padding: 11px 24px 9px 24px;
  background-color: var(--basic-red);
  text-decoration: none;
  color: var(--basic-white);
}

.write-us {
  padding: 11px 24px 9px 24px;
  background-color: var(--basic-red);
  text-decoration: none;
  color: var(--basic-white);
}

.added-to-cart h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.added-to-cart a {
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
}



/*filters*/
.filters-header {
  background-color: var(--filters-background:);
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  border-radius: 5px;
  margin: 0;
  border: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
}


.filters {
  width: 220px;
}

.filters fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;
}


.manufactures-filter,
.power-supply {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px
}

.manufactures-filter legend,
.power-supply legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.company-information-container {
  display: flex;
  justify-content: space-around;
}

.company-information {
  flex-basis: 478px;
}

.map-contacts {
  display: flex;
  flex-direction: column;
}

/*footer*/

.footer-top {
  background-color: var(--main-blue);
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  background-color: var(--hover-blue);
}

.footer-links {
  list-style: none;
}

.footer-links a {
  color: var(--basic-white);
  text-decoration: none;
}

.products-footer-links a,
.footer-bottom a {
  color: var(--yellow-links);
}

.footer-bottom p,
.footer-top {
  color: var(--basic-white);
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
}

.range-filter {
  width: 220px;
}


.filter-item legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.range-controls {
  position: relative;
  height: 41px;
  background-color: var(--filters-background);
  border-radius: 5px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
}

.range-controls .scale {
  height: 2px;
  background: var(--range-control-scale);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--range-control-bar);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--range-control);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--range-box-shadow);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls input {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  width: 80px;
  padding: 10px;
  margin-left: 0;
  text-align: center;
  color: var(--price-control-input);
  border: none;
  border-radius: 5px;
  background: var(--filters-background);
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.space-between-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 35px;
}

.pagination a {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
}

.modal-map {
  display: none;
}
